@import './mixins.scss';

@layer components {
  @include createTextShadows(5);

  @include svgDropShadow(2, 6);
}

.animation-marquee {
  animation: infinite-marquee 35s linear 0s infinite normal forwards;
  -webkit-animation: infinite-marquee 35s linear 0s infinite normal forwards;
  -moz-animation: infinite-marquee 35s linear 0s infinite normal forwards;
  -ms-animation: infinite-marquee 35s linear 0s infinite normal forwards;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
}

.disable-select {
  user-select: none;
  -webkit-tap-highlight-color: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
}

.hd1-size {
  @apply text-6xl;
  @apply md:text-7xl;
  @apply lg:text-8xl;
}

.hd2-size {
  @apply text-4xl;
  @apply md:text-5xl;
  @apply lg:text-6xl;
}

.hd3-size {
  @apply text-xl;
  @apply md:text-2xl;
  @apply lg:text-3xl;
}

.hd4-size {
  @apply text-lg;
  @apply md:text-xl;
  @apply lg:text-2xl;
}

.hd5-size {
  @apply text-base;
  @apply md:text-lg;
  @apply lg:text-xl;
}

.p1-size {
  @apply text-base;
  @apply md:text-lg;
  @apply lg:text-xl;
  @apply font-light;
}

.p2-size {
  @apply text-sm;
  @apply md:text-base;
  @apply lg:text-lg;
  @apply font-light;
}

.p3-size {
  @apply text-xs;
  @apply md:text-sm;
  @apply lg:text-base;
  @apply font-light;
}

.p4-size {
  @apply text-xs;
  @apply md:text-sm;
  @apply font-light;
}

.pd-section {
  @apply pt-[1.4rem];
  @apply px-[1rem];
  @apply lg:px-[2rem];
}

.section {
  &-theme1 {
    @apply w-full;
    @apply bg-EerieBlack;

    .curve-up {
      @apply bg-EerieBlack;

      svg {
        @apply fill-DarkBlue;
      }
    }

    .curve-down {
      @apply bg-DarkBlue;

      svg {
        @apply fill-EerieBlack;
      }
    }

    .hd-color {
      @include headingColor('theme1');
    }

    .hd-shadow {
      @include headingShadow('theme1');
    }

    .sh-shadow {
      @include sectionHeadingShadow('theme1');
    }

    .p1-color {
      @include contentColor('theme1');
    }

    .p2-color {
      @include subContentColor('theme1');
    }

    .timeline-line {
      @include timelineColor('theme1');
    }

    .timeline-dot {
      @include timelineDotColor('theme1');
    }

    .icon-fill {
      @include svgFill('theme1');
    }
  }

  &-theme2 {
    @apply w-full;
    @apply bg-DarkBlue;

    .curve-up {
      @apply bg-DarkBlue;

      svg {
        @apply fill-EerieBlack;
      }
    }

    .curve-down {
      @apply bg-EerieBlack;

      svg {
        @apply fill-DarkBlue;
      }
    }

    .hd-color {
      @include headingColor('theme2');
    }

    .hd-shadow {
      @include headingShadow('theme2');
    }

    .sh-shadow {
      @include sectionHeadingShadow('theme2');
    }

    .p1-color {
      @include contentColor('theme2');
    }

    .p2-color {
      @include subContentColor('theme2');
    }

    .timeline-line {
      @include timelineColor('theme2');
    }

    .timeline-dot {
      @include timelineDotColor('theme2');
    }

    .icon-fill {
      @include svgFill('theme2');
    }
  }
}

.min-ht-screen {
  @apply min-h-screen;
}

.ht-auto {
  @apply h-auto;
}

.inverted-curve {
  transform: rotateY(180deg);
}

.button-3d {
  position: relative;
  user-select: none;
  min-width: 10rem;

  &:active {
    .button-3d-main-bar {
      transform: translateY(0.5rem);
    }
    .button-3d-bottom-bar {
      height: 0.5rem;
    }
  }

  &-content {
    transform: rotateX(30deg);
    scale: 1.1;
  }

  &-main-bar {
    position: relative;
    padding: 0 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply text-ShadowBlue;
    background-color: white;
    z-index: 3;
    transition: all 0.2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      width: 2rem;
      height: 3rem;
      background-color: white;
      right: -1.4rem;
      transform: skewX(20deg);
    }

    &::before {
      content: '';
      position: absolute;
      width: 2rem;
      height: 3rem;
      background-color: white;
      left: -1.4rem;
      transform: skewX(-20deg);
    }
  }

  &-bottom-bar {
    z-index: 2;
    width: calc(100% + 3.9rem);
    position: absolute;
    left: calc(-2rem + 1px);
    height: 1rem;
    @apply bg-ShadowBlue;
    transition: all 0.2s ease-in-out;
    bottom: -1rem;
  }
}
